.course-section {
    background-color: #3e464c;
    margin: 0px 0 10px 0;
    padding: 0;
}


/* General section style*/

#course-info {
    height: 30rem;
}


/* Course description style */

.panel-main {
    border-color: #000;
    padding: 0;
    margin: 0;
}

#course-info .panel-heading {
    padding-top: 2em;
    padding-bottom: 1.75em;
}

#course-info .panel-title {
    font-size: 5rem;
    padding: 0;
    margin: 0;
    display: inline;
}

#course-info .tags li{
    display: inline;
    padding: 1rem;
    background-color: #000;
}

.course-avg-score {
    float: right;
}

.description {
    padding: 0;
    margin: 0;
}

.overall {
    font-size: 7rem;
    padding: 0;
    margin: 0;
    display: inline;
}

.score{
    text-align: center;
}

.score-desc{
    padding: 0;
    margin: 0;
}