.course-section {
    background-color: #3e464c;
    margin: 0px 0 10px 0;
    padding: 0;
}


/* General section style*/

#course-info {
    height: 30rem;
}


/* Course description style */

.panel-main {
    border-color: #000;
    padding: 0;
    margin: 0;
    box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}

#course-info .panel-heading {
    background-color: #000;
    border-color: #000;
    padding-top: 2em;
    padding-bottom: 1.75em;
}

#course-info .panel-title {
    font-size: 5rem;
    padding: 0;
    margin: 0;
    display: inline;
}

#course-info .tags li{
    display: inline;
    padding: 5px;
    background-color: #000;
}

.course-avg-score {
    float: right;
}