.suggested-course{
	width: 100%;
}

.course{
	width: 100%;
}

.btn:hover {
    background-color: #ffffff;
    color: #000000;
    text-decoration: none;
}

/* Suggests courses */
#suggested-courses .course-code {
    float: left;
	margin: 0;
	padding: 0;
	font-size: 3rem;
	font-weight: bold;
}

.suggested-course h4 {
    float: right;
	margin: 0;
}

.suggested-course p {
	padding: 0;
	margin: 0;
}

.avg-score {
    float: right;
	text-align: right;
    display: block;
    padding: 1rem 0 0 0;
    margin: 0;
	font-weight: bold;
	font-size: 3rem;
	color: #00ff00;
}

.department {
    float: left;
    display: block;
    text-align: left;    
}

/* All Courses */

#all-courses article{
	padding: 1rem 1rem;
	white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

#all-courses h4{
	float: left;
	font-size: 1.25rem;
}

#all-courses .course-code{
	font-weight: bold;
}

