.input {
    display: none;
    color: #000;
}

.pwdInput {
    display: none;
    color: #000;

}


.save, #savePwd{
    display: none;
}

a {
    cursor: default;
}

h2, #buttons {
    text-align: center;
}

.control-label {
    font-size: 125%;
}

.form-control-static {
    font-size: 125%;
}
