.input {
    display: none;
    color: #000;
}

.pwdInput {
    display: none;
    color: #000;
}

.save, #savePwd{
    display: none;
    cursor: default;
}

.edit, #changePwd {
    cursor: default;
}

h2, #buttons {
    text-align: center;
}

.control-label, .form-control-static {
    font-size: 125%;
}

@media(min-width:576px) {}

@media(min-width:768px) {}

@media(min-width:992px) {}

@media(min-width:1200px) {}
