body {
    background-color: #374046;
}

.jumbotron {
    background-color: #3e464c;
    margin: 0;
}

.course-section {
    background-color: #3e464c;
    margin: 5px 0 10px 0;
}

#course-info {
    height: 30rem;
}