<link rel="stylesheet" data-ng-href="css/department.css">
<div class="container">
    <!-- Department title -->
    <h1> {{ title }} </h1>

    <!-- Suggested courses -->
    <section id="suggested-courses" class="row col-md-8 custom-section">
        <h2 class="section-header">Suggested Courses</h2>
        <article data-ng-repeat="c in suggestedCourses | limitTo:getLimit()" class="btn course suggested-course custom-article" data-ng-click="gotoCourse(c)">
            <div class="row">
                <h3 class="course-code">{{ c.courseCode }}</h3>
                <h4>{{ c.title }}</h4>
            </div>
            <div class="row">
                <p class="avg-score text-right">{{ c.rating }}/5</p>
            </div>
        </article>
    </section>

    <!-- All courses -->
    <section id="all-courses" class="row col-md-4 custom-section">
        <h2 class="section-header">All Courses</h2>
        <article data-ng-repeat="c in allCourses | orderBy:'courseCode'" class="btn course custom-article " data-ng-click="gotoCourse(c)">
            <h4 class=" course-code "> {{ c.courseCode }} </h4>
            <h4> - {{ c.title }} </h4>
        </article>
    </section>
</div>