<link rel="stylesheet" href="css/home.css">
<!-- Logo tagline and search bar -->

<div class="row col-xs-12">
    <img id="header-logo" src="cover-logo.png" alt="RateMyCourses">
</div>
<div class="row col-xs-12">
    <h1 class="text-center">Because knowledge is power.</h1>
</div>
<div class="row col-xs-12">
    <form class="vertical-center">
        <div class="input-group">
            <input class="form-control input-lg" type="text" placeholder="Enter a course here" data-ng-model="$root.homeSearchField">
            <div class="input-group-btn">
                <button class="btn btn-default" type="submit" data-ng-click="homeSearch()">
                                <i id="home-search" class="glyphicon glyphicon-search"></i>
                    	</button>
            </div>
        </div>
    </form>
</div>
