<link rel="stylesheet" href="css/login.css"></link>
<script src="js/login.js"></script>
<form data-ng-controller="LoginController">
    <h2>Login/Register</h2>
    <div class="form-group row">
        <label>Email:</label>
        <input type="email" class="form-control input-lg" placeholder="person@mail.net" required>
    </div>
    <div class="form-group row">
        <label>Password:</label>
        <input type="password" class="form-control input-lg" placeholder="******" required>
    </div>
    <div class="form-group register-field row">
        <label>Confirm Password:</label>
        <input type="password" class="form-control input-lg required-field" placeholder="******">
    </div>
    <div class="form-group register-field">
        <div class="row">
            <label>Faculty:</label>
            <select class="select-dept required-field">
	   					<option selected>Choose...</option>
						<option data-ng-repeat="f in faculty_list">{{ f }}</option>
					</select>
        </div>
        <div class="row">
            <label>Department 1:</label>
            <select class="select-dept required-field">
	   					<option selected>Choose...</option>
						<option data-ng-repeat="d in department_list">{{ d }}</option>
					</select>
        </div>
        <div class="row">
            <label>Department 2:</label>
            <select class="select-dept">
	   					<option selected>Optional</option>
						<option data-ng-repeat="d in department_list">{{ d }}</option>
					</select>
        </div>
        <div class="row">
            <label>Department 3:</label>
            <select class="select-dept">
	   					<option selected>Optional</option>
						<option data-ng-repeat="d in department_list">{{ d }}</option>
					</select>
        </div>
    </div>
    <div class="checkbox row col-sm-offset-2 col-sm-10 ">
        <label><input type="checkbox">Remember me</label>
    </div>
    <button type="submit" id="login-btn" class="btn btn-def btn-block login-btn row col-sm-4 text-center">Login</button>
    <button type="submit" id="forgot-btn" class="btn btn-def btn-block login-btn row col-sm-4 text-center">Forgot Password</button>
    <button type="submit" id="create-account" class="btn btn-def btn-block login-btn row col-sm-4 text-center">Create Account</button>
    <button type="submit" class="btn btn-def btn-block login-btn row col-sm-offset-4 col-sm-4 text-center" id="register-btn">Register</button>
</form>