<link rel="stylesheet" data-ng-href="css/login.css">
<script src="js/login.js"></script>
<form name="loginForm">
    <div class="row">
        <h2 class="col-md-4">Login/Register</h2>
        <!--div class="error-msg"-->
        <h3 class="hidden-error-msg">ERROR: INVALID LOGIN</h3>
        <!--/div-->
    </div>

    <div class="form-group row">
        <label>Email:</label>
        <input type="email" class="form-control input-lg" placeholder="person@mail.net" data-ng-model="loginForm.email" required>
    </div>
    <div class="form-group row">
        <label>Password:</label>
        <input type="password" class="form-control input-lg" placeholder="******" data-ng-model="loginForm.password" required>
    </div>
    <div class="form-group register-field row">
        <label>Confirm Password:</label>
        <input type="password" class="form-control input-lg required-field" placeholder="******">
    </div>
    <div class="form-group register-field">
        <div class="row">
            <label>Faculty (Required):</label>
            <select class="select-dept required-field" data-ng-model="loginForm.faculty">
						<option data-ng-repeat="f in faculty_list | orderBy: f">{{ f }}</option>
					</select>
        </div>
        <div class="row">
            <label>Department 1 (Required):</label>
            <select class="select-dept required-field" data-ng-model="loginForm.department1">
						<option data-ng-repeat="d in department_list | orderBy: d">{{ d }}</option>
					</select>
        </div>
        <div class="row">
            <label>Department 2 (Optional):</label>
            <select class="select-dept" data-ng-model="loginForm.department2">
						<option data-ng-repeat="d in department_list | orderBy: d">{{ d }}</option>
					</select>
        </div>
        <div class="row">
            <label>Department 3 (Optional):</label>
            <select class="select-dept" data-ng-model="loginForm.department3">
						<option data-ng-repeat="d in department_list | orderBy: d">{{ d }}</option>
					</select>
        </div>
    </div>
    <div class="checkbox row col-sm-offset-2 col-sm-10 ">
        <label><input type="checkbox">Remember me</label>
    </div>
    <button type="submit" id="login-btn" class="btn btn-def btn-block login-btn row col-sm-4 text-center" data-ng-click="submitLogin()">Login</button>
    <button type="submit" id="forgot-btn" class="btn btn-def btn-block login-btn row col-sm-4 text-center">Forgot Password</button>
    <button type="submit" id="create-account" class="btn btn-def btn-block login-btn row col-sm-4 text-center" data-ng-click="submitRegister()">Create Account</button>
    <button type="submit" id="register-btn" class="btn btn-def btn-block login-btn row col-sm-offset-4 col-sm-4 text-center">Register</button>
</form>