<link rel="stylesheet" data-ng-href="css/profile.css">
<script src="js/profile.js"></script>

<div class="col-md-12">
    <section class="custom-section">
        <h2>Your Profile</h2>

        <form class="form-horizontal">
            <div class="form-group">
                <!-- Email -->
                <label class="control-label col-sm-4">Email:</label>
                <div class="col-sm-8">
                    <p class="form-control-static">
                        <input type="text" class="userIDInput" data-ng-model="userForm.userID">
                        <span id="email">{{ user }}</span>
                        <a class="edit">Edit</a>
                        <a class="save" data-ng-click="saveUserInfo()">Save</a>
                    </p>
                </div>
                <!-- Password -->
                <label class="control-label col-sm-4">Password:</label>
                <div class="col-sm-8">
                    <p class="form-control-static">
                        <input type="text" class="pwd">
                        <span id="password">********</span>
                        <a id="changePwd">Change Password</a>
                        <a id="savePwd">Save Password</a>

                    </p>
                    <div class="row">
                        <input type="password" class="pwdInput" size="30" placeholder="Type your old password">
                    </div>
                    <div class="row">
                        <input type="password" class="pwdInput" size="30" placeholder="Type your new password">
                    </div>
                    <div class="row">
                        <input type="password" class="pwdInput" size="30" placeholder="Retype your new password">
                    </div>

                </div>

                <!-- Faculty -->
                <div class="row">
                    <label class="control-label col-sm-4">Faculty:</label>
                    <select class="select-dept required-field">
			   					<option selected>Choose...</option>
								<option data-ng-repeat="f in faculty_list">{{ f }}</option>
							</select>
                    <a class="save-select">Save</a>
                </div>
                <!-- Departments -->
                <div class="row">
                    <label class="control-label col-sm-4">Department:</label>
                    <select class="select-dept required-field">
			   					<option selected>Choose...</option>
								<option data-ng-repeat="d in department_list">{{ d }}</option>
							</select>
                    <a class="save-select">Save</a>
                </div>
            </div>
        </form>
        <div class="text-center">
            <button class="btn btn-primary" data-ng-click="deleteAccount()">Delete Account</button>
            <button class="btn btn-primary" data-ng-click="logout()">Logout</button>
        </div>
    </section>
</div>