<link rel="stylesheet" data-ng-href="css/searchresults.css">
<!-- Department results -->
<section id="department-results" class="row results col-md-12">
    <h2 class="section-header">Department results...</h2>
    <article data-ng-repeat="d in allResults.depts" class="btn custom-article department-result col-xs-12 col-sm-4" ng-click="gotoDepartment(d)">
        <h3>{{ d }}</h3>
    </article>
</section>

<!-- Course results -->
<section id="course-results" class="row col-md-12 custom-section">
    <h2 class="section-header">Course results...</h2>
    <article data-ng-repeat="c in allResults.courses" class="btn course-result custom-article" ng-click="gotoCourse(c)">
        <div class="row">
            <h3 class="course-code">{{ c.courseCode }}</h3>
            <h4>{{ c.courseTitle }}</h4>
        </div>
        <div class="row">
            <p class="department">Department: {{ c.department }}</p>
            <p class="avg-score text-right">{{ c.overall }}/5</p>
        </div>
    </article>

</section>
