<link rel="stylesheet" data-ng-href="css/searchresults.css">
<!-- Department results -->
<section data-ng-controller="departmentresults" id="department-results" class="row results col-md-12">
    <h2 class="section-header">Department results...</h2>
    <article data-ng-repeat="d in departments" class="btn custom-article department-result col-xs-12 col-sm-4">
        <h3>{{ d }}</h3>
    </article>
</section>

<!-- Course results -->
<section data-ng-controller="courseresults" id="course-results" class="row col-md-12 custom-section">
    <h2 class="section-header">Course results...</h2>
    <article data-ng-repeat="c in courses" class="btn course-result custom-article">
        <div class="row">
            <h3 class="course-code">{{ c.courseCode }}</h3>
            <h4>{{ c.courseTitle }}</h4>
        </div>
        <div class="row">
            <p class="department">Department: {{ c.department }}</p>
            <p class="avg-score text-right">{{ c.rating }}/5</p>
        </div>
    </article>

</section>