<link rel="stylesheet" href="css/userlanding.css">
<!-- Suggested courses -->
<section id="recommended" class="row col-md-8 custom-section">
    <h2 class="section-header">Recommended Courses</h2>

    <!-- Format of a course in the suggested courses box -->
    <article data-ng-repeat="c in suggestedCourses" class="btn course-result custom-article" data-ng-click="gotoCourse(c)">
        <!-- Course code and title -->
        <div class="row">
            <h3 class="course-code">{{ c.courseCode }}</h3>
            <h4>{{ c.courseTitle }}</h4>
        </div>

        <!-- Course details -->
        <div class="row">
            <p class="department">Department: {{ c.department }}</p>
            <p class="avg-score text-right">{{ c.overall }}/5</p>
            <br>
            <p class="department">Avg class size estimate: {{c.classSize}}</p>
        </div>

    </article>

</section>

<div class="col-md-4">
    <section id="history" class="row col-md-12 custom-section">
        <h2 class="section-header">History</h2>
        <article data-ng-show="courseHistory == null">
            <h3 class="empty-msg"> No rated courses.</h3>
        </article>
        <!-- Format of a course in the history box -->
        <article data-ng-repeat="c in courseHistory track by $index" class="btn course-result-compact custom-article" data-ng-click="gotoCourseCode(c)">

            <!-- Course code and title -->
            <!--div class="row">
                <h3 class="course-code">{{ c.courseCode }}</h3> <br> <br>
                <h4>{{ c.title }}</h4>
            </div>

            <!-- Course details -->
            <!--div class="row">
                <p class="department">Department: {{ c.department }}</p>
                <p class="avg-score text-right">{{ c.overall }}/5</p>
            </div-->
            <div class="row">
                <h3 class="course-code">{{ c }}</h3> <br> <br>
            </div>

        </article>

    </section>

    <section id="rated" class="row col-md-12 custom-section">
        <h2 class="section-header">Courses You've Rated</h2>
        <article data-ng-show="ratedCourses == null">
            <h3 class="empty-msg"> No history.</h3>
        </article>

        <!-- Format of a course in the rated courses box -->
        <article data-ng-repeat="c in ratedCourses track by $index" class="btn course-result-compact custom-article" data-ng-click="gotoCourseCode(c)">

            <!-- Course code and title -->
            <!--div class="row">
                <h3 class="course-code">{{ c.courseCode }}</h3> <br> <br>
                <h4>{{ c.courseTitle }}</h4>
            </div>

            <!-- Course details -->
            <!--div class="row">
                <p class="department">Department: {{ c.department }}</p>
                <p class="avg-score text-right">{{ c.overall }}/5</p>
            </div-->
            <div class="row">
                <h3 class="course-code">{{ c }}</h3> <br> <br>
            </div>
        </article>

    </section>
</div>