/* Course description style */

.panel-main {
    border-color: #000;
    padding: 0;
    margin: 0;
}

.panel-name {
    float: right;
}

#course-info .panel-heading {
    padding-top: 2em;
    padding-bottom: 1.75em;
}

#course-info .panel-title {
    font-size: 5rem;
    padding: 0;
    margin: 0;
    display: inline;
}

.tags {
    padding: 0;
    margin: 0;
    margin-top: 10px;
}

.tags li {
    display: inline;
    float: left;
    padding: 0.5rem;
    margin: 0.5rem;
    background-color: rgba(55, 64, 70, 0.4);
}

.course-avg-score {
    float: right;
}

.description {
    padding: 0;
    margin: 0;
    font-size: 15px;
}

.score-value {
    font-size: 4rem;
    padding: 5px;
    margin: 1px;
    display: inline-block;
    text-shadow: 3px 3px rgba(97, 97, 97, 0.5);
}

.score {
    text-align: center;
    padding: 0;
    margin: 0;
    padding-bottom: 1rem;
}

.overall {
    font-size: 12rem;
}

.score-desc {
    padding: 0;
    margin: 0;
}

.good-score {
    background-color: rgba(35, 221, 88, 0.3);
}

.avg-score {
    background-color: rgba(255, 193, 7, 0.7);
}

.sub-ratings {
    float: right;
}

#course-ratings {
    background-color: #3e464c;
    position: relative;
    border: #000;
    /*    height: 500px; */
    margin-top: 3rem;
    box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
    border-radius: 1px;
}

#course-ratings .section-title {
    background-color: #000;
    width: auto;
    height: 36px;
    line-height: 36px;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    padding-left: 1em;
    padding-right: 1em;
    border: 1px solid #000;
    border-radius: 2px;
    position: absolute;
    top: -18px;
    left: 18px;
}

.course-aspects {
    height: 500px;
}

.aspect-container {
    width: 100%;
}

.aspect-container label {
    width: calc(100% - 121px);
}

.rating-container {
    display: inline-block;
}

#enrollment-date {
    display: inline-block;
    margin-bottom: 2rem;
}

.enrollment-date-container input,
.enrollment-date-container option {
    display: inline-block;
    width: 12rem;
    color: #555;
}

#tags-selection .tags li:hover {
    background-color: #337ab7;
}

#new-rating {
    margin-top: 5px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 3px;
    border-radius: 3px;
    background-color: #465058;
}

.add-field {
    display: none;
}

#add-rating-btn {
    width: 10rem;
    colour: white;
    background-color: black;
}

#comment-box {
    color: black;
}

#done-btn {
    width: 10rem;
    colour: white;
    background-color: black;
    margin-top: 6rem;
    margin-left: 20rem;
}


/**
 * Custom CSS rating symbol
 * https://github.com/dreyescat/bootstrap-rating
 * */

.symbol {
    display: inline-block;
    border-radius: 50%;
    border: 5px double white;
    width: 18px;
    height: 18px;
}

.symbol-empty {
    background-color: #cccccc;
}

.symbol-filled {
    background-color: #337ab7;
}

.label-default {
    background-color: #465058;
}

.sub-ratings {
    float: right;
}

.comment {
    padding: 2rem;
    display: block;
    float: left;
}

.helpful {
    float: right;
    display: block;
}

.helpful-btn {
    font-size: 2rem;
    background-color: white;
}

/* Styling for the star rating, taken from http://www.angulartutorial.net/2014/03/rating-stars-in-angular-js-using.html*/
.rating{
  color: #a9a9a9;
  margin: 0;
  padding: 0;
}

ul.rating {
  display: inline-block;
}

.rating li {
  list-style-type: none;
  display: inline-block;
  padding: 1px;
  text-align: center;
  font-weight: bold;
  cursor: pointer;
}

.rating .filled {
  color: #21568b;
}
/* end styling for star ratings*/


@media(min-width:576px) {
    #enrollment-date {
        min-width: 260px;
        margin-bottom: 2rem;
        float: right;
    }
    .score-value {
        font-size: 5rem;
        padding: 10px;
        margin: 5px;
        display: inline-block;
        text-shadow: 3px 3px rgba(97, 97, 97, 0.5);
    }
    .overall {
        font-size: 18rem;
    }
}

@media(min-width:768px) {}

@media(min-width:992px) {
    .overall-score {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
    }
}

@media(min-width:1200px) {}
