/* Main logo */
#logo{
	width: 20rem;
}

/* Centering the search bar */
.vertical-center {
    min-height: 40vh;
    display: flex;
    align-items: center;
}

/* Header logo */
#header-logo {
    width: 100%;
    padding: 2rem 0;
}

#header-search {
	font-size: 1.5rem;
}

/* Search icon */
#home-search {
    font-size: 2.8rem;
}
