body {
    background-color: #374046;
    color: #fff;
    font-family: "Lato", Arial, Helvetica, sans-serif;
}

.custom-section {
    background-color: #3e464c;
    margin: 1rem 0 1rem 0;
    padding: 0.1rem 0.5rem 1rem 0.5rem;
}

.custom-article {
    padding: 1rem 2rem;
    background-color: #6b6a6a;
    border: solid 0.25rem;
    border-color: #374046;
    color: white;
    text-decoration: none;
    overflow: hidden;
}

.navbar {
    background-color: #3e464c;
}

#home-btn {
    float: right;
}

.empty-msg {
    text-align: center;
}

#logo {
    width: 100%;
}

#login {
    display: block;
    float: right;
}

.search {
    position: absolute;
    top: 50%;
}

.navbtn {
    background-color: #ffffff;
    color: #000000;
    text-decoration: none;
}

@media(min-width:576px) {}

@media(min-width:768px) {}

@media(min-width:992px) {
    #logo {
        padding: 0.75rem 0;
    }
}

@media(min-width:1200px) {}