/* Profile page header */
h2 {
    text-align: center;
}

/* Input fields */
.userIDInput {
    display: none;
    color: #000;
}

input.pwdInput {
    margin-left: 1.5rem;
    display: none;
    color: #000;
}

/* Save and edit buttons*/
.save, #savePwd{
    display: none;
    cursor: default;
}

.edit, #changePwd {
    cursor: default;
}
.save-select {
    cursor: default;
    font-size: 125%;
}

/* Faculties and departments */
select {
    color: #000;
}

.select-dept {
    margin-top: 0.9rem;
    margin-left: 1.7rem;
}

/* Font sizes */
.control-label, .form-control-static {
    font-size: 125%;
}
