/* Main page elements */

.results {
    background-color: #3e464c;
    margin: 1rem 0 1rem 0;
    padding: 0.1rem 0.5rem 1rem 0.5rem;
}

.section-header {
    padding-left: 1rem;
}


/* Course Results Section */

.course-result {
    width: 100%;
}

.course-result:hover {
    background-color: #ffffff;
    color: #000000;
    text-decoration: none;
}

.course-result h3 {
    float: left;
    margin: 0;
    padding: 0;
    font-weight: bold;
}

.course-result h4 {
    float: right;
    margin: 0;
}

.course-result p {
    padding: 0;
    margin: 0;
}

.course-result-compact {
    width: 100%;
}

.course-result-compact:hover {
    background-color: #ffffff;
    color: #000000;
    text-decoration: none;
}

.course-result-compact h3 {
    float: left;
    font-size: 3rem;
    margin: 0;
    padding: 0;
    font-weight: bold;
}

.course-result-compact h4 {
    float: left;
    margin: 0;
}

.course-result-compact p {
    padding: 0;
    margin: 0;
}

.course-result-compact .avg-score {
    font-size: 2rem;
}

.avg-score {
    float: right;
    text-align: right;
    display: block;
    padding: 1rem 0 0 0;
    margin: 0;
    font-weight: bold;
    font-size: 3rem;
    color: #00ff00;
}

.department {
    float: left;
    display: block;
    text-align: left;
}

@media(min-width:576px) {}

@media(min-width:768px) {
    .course-result {
        padding: 2rem 5rem;
    }
    .course-result-compact {
        padding: 2rem 5rem;
    }
    .course-code {
        font-size: 5rem;
    }
}

@media(min-width:992px) {}

@media(min-width:1200px) {}